$color-scheme: light-bhc;
$body-background-color: $white;
$body-heading-color: $grey-dk-300;
$body-text-color: $grey-dk-100;
$link-color: $purple-000;
$nav-child-link-color: $purple-000;
$sidebar-color: $grey-lt-000;
$base-button-color: #f7f7f7;
$btn-primary-color: $purple-100;
$code-background-color: $grey-lt-000;
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: $white;
$search-background-color: $white;
$search-result-preview-color: $grey-dk-000;

@import "./vendor/OneLightJekyll/syntax";
