<footer role="contentinfo">
  <br>
  <p class="text-small text-grey-dk-000 mb-0">Explore My GNOME Extensions</p>
  <div id='container1'>
    <img src='./assets/images/footer/bhc-logo.png' width="4%" style='float: left; margin-right: 0.5rem;'/>
    <p class="text-small text-grey-dk-000 mb-0"><a href="https://extensions.gnome.org/extension/5724/battery-health-charging/">Battery Health Charging:</a> An extension for setting Charging threshold for batteries on laptops</p>
  </div>
  <div id='container2'>
    <img src='./assets/images/footer/bbm-logo.png' width="4%" style='float: left; margin-right: 0.5rem;'/>
    <p class="text-small text-grey-dk-000 mb-0"><a href="https://extensions.gnome.org/extension/5724/bluetooth-battery-level/">Bluetooth Battery Meter:</a> An extension featuring indicator icons in system tray</p>
  </div>
  <br>
  <br>
  <p class="text-small text-grey-dk-000 mb-0">
Copyright &copy; 2017-2020 Patrick Marsceill. Distributed by an <a href=\"https://github.com/just-the-docs/just-the-docs/tree/main/LICENSE.txt\">MIT license.</a> <a href=\"https://www.netlify.com/\">This site is powered by Netlify.</a><br>Build by maniacx for Battery Health Charging Gnome Extension
  </p>
</footer>
