polkit.addRule(function(action, subject) {
    if (action.id === "org.freedesktop.policykit.exec" && subject.user === "{{TOOL_USER}}" &&
        ({{PROGRAM_CONDITION}}))
    {
        return polkit.Result.YES;
    }
});
