polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.policykit.exec" &&
        action.lookup("program") == "{{TOOL_OUT}}" &&
        subject.isInGroup("{{TOOL_USER}}"))
    {
        return polkit.Result.YES;
    }
});
